.esconde-tela {
  display: none;
}
html {
  scroll-behavior: smooth; /* faz o scroll ser suave */
}
body {
  background-color: #e5e5e5;
}
.desabilitado{
  pointer-events: none;
}
header {
  height: 69px;
  width: 100%;
  background-color: #ec362d;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Roboto";
  font-style: normal;
}
header h1 {
  font-weight: 700;
  font-size: 37px;
  line-height: 43px;
  color: #ffffff;
}

main .tela1 {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  padding-bottom: 211px;
}

.ondeficacriarquizz {
  width: 1051px;
  height: 181px;
  margin-top: 77px;
  border: 1px dashed #d5d5d5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.ondeficacriarquizz h2 {
  width: 250px;
  height: 107px;
  display: flex;
  text-align: center;
  align-items: center;
  color: #b9b9b9;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
.ondeficacriarquizz button {
  color: #ec362d;
  background: #fafafa;
  border-radius: 50px;
  border: 1px dashed #ec362d;
  height: 40px;
  width: 150px;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 33px;
}
.seusquizzes {
  margin-top: 69px;
  display: flex;
  flex-direction: column;
  width: 1056px;
}

.h3 {
  width: 340px;
  display: flex;
  align-items: center;
}
.quizzes {
  display: flex;
}
.seusquizzes h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-right: 17px;
}
.adicionar {
  width: 30px;
  height: 30px;
  border-radius: 16px;
  text-align: center;
}


/* opacidade das rspostas */

.teste{
  border: 3px solid red;
}
.teste .resposta{
  opacity: 0.3;
}

.respostacerta p{
  color: #009C22;
}

.respostaerrada p{
  color:#FF4B4B;
}

.resposta {
  width: 45%;
  height: 45%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-icon {
  font-size: 31px;
  color: #ec362d;
}
.todososquizzes {
  margin-top: 77px;
  display: flex;
  flex-direction: column;
  width: 1056px;
}
.todososquizzes h3 {
  margin-left: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}
.quizzes {
  display: flex;
  flex-wrap: wrap;
}
.quizz {
  width: 340px;
  height: 181px;
  margin: 5px;
  background-color: plum;
  /*background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
    ),
    url(https://static1.patasdacasa.com.br/articles/6/44/06/@/18846-os-nomes-para-gatos-podem-revelar-muito-articles_media_mobile-2.jpg);
    background-size: contain;
    background-position: center;
    */
  border-radius: 5px;
}
.quizz img {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );
  width: 340px;
  height: 181px;
  border-radius: 5px;
  position: relative;
  object-fit: fill;
}
.quizz h4 {
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #ffffff;
  position: absolute;
  bottom: 7px;
  left: 18px;
}

.hidden {
  display: none;
}

@media (max-width: 1100px) {
  .ondeficacriarquizz {
    margin-top: 31px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  button {
    width: 136px;
  }
  .seusquizzes {
    margin-top: 38px;
    width: 90%;
  }
  .h3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .todososquizzes {
    width: 90%;
    margin-left: 0px;
  }
  .quizz {
    margin-left: 0px;
  }
  .quizzes {
    display: flex;
    flex-direction: column;
  }
  .hidden {
    display: none;
  }
}

/* estilizacao da parte de criar o quizz */

.cirarQuizz {
  width: 100vw;
  height: 93vh;

  position: fixed;
  z-index: 5;
  top: 69px;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.criarQuizz2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.criarQuizzTitulo {
  font-size: 23px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #000000;

  margin-top: 71px;
  margin-bottom: 27px;
}

.criarQuizzPerguntas {
  background-color: #ffffff;
  width: 41vw;
  height: 256px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 9px;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);

  margin-bottom: 85px;
}

.criarQuizzPerguntas input {
  width: 94%;
  height: 46px;

  box-sizing: border-box;

  text-align: left;
  border: 1px solid #d1d1d1;
  border-radius: 5px;

  font-family: "Roboto", sans-serif;

  padding-left: 4%;
}

.criarQuizzPerguntas input::placeholder {
  font-style: italic;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #bababa;
}

.infoBasica {
  width: 25%;
  height: 54px;

  background-color: #ec362d;
  border-radius: 15px;

  font-size: 21px;

  text-align: center;
  font-weight: 400;
  font-size: 21px;
  color: #fff5f4;
  border: none;
  font-family: "Roboto", sans-serif;
}

/*------------estilização página de um quizz-----------------*/
.paginaDeUmQuizz {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.banner {
  display: flex;
  justify-content: center;
  width: 100%;
}
.banner img {
  min-width: 100vw;
  max-height: 227px;
  margin-bottom: 70px;
  position: relative;
  top: 0px;
  left: 0px;
  object-fit: cover;
}
.banner .layer {
  width: 100vw;
  height: 227px;
  position: absolute;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.57),
    rgba(0, 0, 0, 0.57)
  );
  z-index: 1;
  top: 69px;
  left: 0px;
}
.banner h1 {
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  line-height: 46px;
  color: #ffffff;
  z-index: 2;
  top: 156px;
  width: 100%;
  word-wrap: break-word;
  text-align: center;
}
.paginaDeUmQuizz .perguntas {
  width: 52%;
  height: 1000px;
  display: flex;
  margin-top: 42px;
}

.paginaDeUmQuizz .perguntas .perguntaTela2 {
  width: 100%;
  height: 676px;
  display: flex;
  flex-direction: column;

}

.perguntaTela2 {
  width: 100%;
}


.paginaDeUmQuizz .perguntas .perguntaTela2 h2 {
  width: 100%;
  height: 138px;

  text-align: center;
  margin-bottom: 18px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 23px;
  font-family: 'Roboto', sans-serif;

}
.opcoes {
  height: auto;
  width: 100%;
  background-color: darkseagreen;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  gap: 3.5%;
}

.opcoes p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;

  text-align: left;
  word-wrap: break-word;

  width: 100%;

  /* padding-left: 5%;
  box-sizing: border-box; */
}

.opcoes img {
  width: 100%;
  height: auto;
}


@media screen and (max-width: 1100px) {
  .criarQuizz h1 {
    font-size: 20px;
  }

  .criarQuizzPerguntas {
    width: 100vw;
  }

  .infoBasica {
    width: 86%;
    font-size: 18px;
  }

  .paginaDeUmQuizz .perguntas {
    width: 100%;
  }

  .banner h1 {
    font-size: 19px;
    text-align: center;
  }
}

.criarQuizzTitulo {
  font-size: 23px;
}

.pergunta {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ffffff;

  height: 74px;
  width: 41vw;

  padding-right: 17px;
  padding-left: 17px;

  box-sizing: border-box;

  font-weight: 700;
  font-size: 20px;
  font-family: "Roboto", sans-serif;

  margin-bottom: 22px;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.pergunta ion-icon {
  width: 25px;
  height: 25px;

  color: #000000;
}

.pergunta button {
  background-color: #ffffff;
  border: none;
  width: 25px;
  height: 25px;
}

.buttonIrParaNiveis {
  width: 25%;
  height: 54px;

  background-color: #ec362d;
  border-radius: 15px;

  font-size: 21px;
  text-align: center;
  font-weight: 400;
  font-size: 21px;
  color: #fff5f4;
  border: none;
  font-family: "Roboto", sans-serif;

  margin-top: 80px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1100px) {
  .pergunta {
    width: 100vw;
  }

  .buttonIrParaNiveis {
    width: 86%;
    font-size: 18px;
    margin-top: 46px;
  }
}

/* edicao da pergunta aberta */

.perguntaAberta {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #ffffff;

  width: 41vw;
  height: auto;

  padding-right: 17px;
  padding-left: 17px;

  box-sizing: border-box;

  font-weight: 700;
  font-size: 20px;
  font-family: "Roboto", sans-serif;

  margin-bottom: 22px;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);

  gap: 15px;

  padding-top: 27px;
  padding-bottom: 27px;
}

.perguntaAberta input {
  width: 100%;
  height: 46px;

  box-sizing: border-box;

  text-align: left;
  border: 1px solid #d1d1d1;
  border-radius: 5px;

  font-family: "Roboto", sans-serif;

  padding-left: 4%;
}

.perguntaAberta input::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 400;

  color: #bababa;
}

.secaoPergunta {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 1100px) {
  .secaoPergunta,
  .perguntaAberta {
    width: 100%;
  }
}

/* Estilizacao da tela de sucesso */

.sucessoImagemQuizz {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.sucessoImagemQuizz img {
  width: 100%;
  height: auto;
}

.sucessoImagemQuizz h4 {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  font-weight: 400;
  color: #ffffff;

  bottom: 7%;
  left: 5%;
}

.buttonIrParaQuizz {
  width: 15%;
  height: 44px;

  background-color: #ec362d;
  border-radius: 15px;

  font-size: 21px;
  text-align: center;
  font-weight: 400;
  font-size: 21px;
  color: #fff5f4;
  border: none;
  font-family: "Roboto", sans-serif;

  margin-top: 45px;
  margin-bottom: 9px;
}

.criarQuizz2 h3 {
  margin-bottom: 166px;
  font-size: 21px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-align: center;

  color: #818181;
}

.botaoIrParaHome{
  width: 15%;
  height: 44px;

  background-color: rgba(0, 0, 0, 0);
  border-radius: 15px;

  font-size: 21px;
  text-align: center;
  font-weight: 400;
  font-size: 21px;
  color: #fff5f4;
  border: none;
  font-family: "Roboto", sans-serif;

  margin-bottom: 19px;
}

@media screen and (max-width: 1100px) {
  .sucessoImagemQuizz img {
    width: 90%;
    height: auto;
  }

  .sucessoImagemQuizz {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
  }

  .sucessoImagemQuizz h4 {
    position: absolute;
    font-size: 19px;

    bottom: 7%;
    left: 10%;
  }

  .buttonIrParaQuizz {
    width: 58%;
    height: 44px;

    background-color: #ec362d;
    border-radius: 15px;

    font-size: 21px;
    text-align: center;
    font-weight: 400;
    font-size: 21px;
    color: #fff5f4;
    border: none;
    font-family: "Roboto", sans-serif;

    margin-top: 45px;
    margin-bottom: 9px;
  }

  .botaoIrParaHome{
    width: 58%;
    height: 44px;
  
    background-color: rgba(0, 0, 0, 0);
    border-radius: 15px;
  
    font-size: 21px;
    text-align: center;
    font-weight: 400;
    font-size: 21px;
    color: #fff5f4;
    border: none;
    font-family: "Roboto", sans-serif;
  
    margin-bottom: 19px;
  }

  .criarQuizz2 h3 {
    margin-bottom: 166px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-align: center;

    color: #818181;
  }
}
